@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.wrapper {
    max-width: 95vw;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .wrapper {
        padding: 15px;
    }
}